@import "nav.css";
@import "body.css";
@import "footer.css";

.content-body {
  display: flex;
  flex-direction: column;
}
.member-title > h2 {
  text-align: center;
}
.members-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (min-width: 600px) {
  .members-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
